<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script>
    $(function () {
    $('#datetimepicker1').datetimepicker();
 });
</script>
    <title>Dublin Bikes</title>
</head>

<body>
<!--HTML element to hold the map:!-->
<div id="googleMap" style="width:100%;height:500px;"></div>
    
<div id="weather">
    <h2>Current Weather Conditions</h2>

    <p> The current weather is {{ wds[0]['weatherDescr'] }} </p>
    <p> The current temperature is {{ wds[0]['temperature'] }} degrees centigrade</p>
    <img src="http://openweathermap.org/img/w/{{wds[0]['weatherIcon']}}.png">

    <br>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Select your travel date</div>
            <div class="panel-body">
                <div class="row">
                    <div class='col-md-6'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </div>
    </div>
</div>    

<h2>Select a station</h2>   
<div id="stationsDropDown" ></div>
<script>
    
function myMap() {
//The mapProp variable defines the properties for the map.
var mapProp= {
  center:new google.maps.LatLng(53.350140, -6.266155), //center in Dublin
  zoom:12,
};
//creates a new map inside the <div> element using the parameters that are passed (mapProp).
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

 
//using jQuery to import JSON file from flask and pass it to the function 
$.getJSON('http://127.0.0.1:5000/stations', function (data) {
    displayStation(data);
    dropDown(data);
});

function dropDown(obj){

    var stations = obj;
    // creating an array that will contain all Countries
    var stationList = [];
    // loop that iterates thtough the object
    // pushing Countries into array after checking if they have been already added
    for (var i=0; i <stations.length; i++) {  
        if (stationList.indexOf(stations[i].stationName) == -1){
            stationList.push(stations[i].stationName)
        }}
        // this will sort the array in alphabetical order
        stationList.sort();
    //creating the selection drop down menu with a loop that iterates thourgh the array
    var selStation = "<select id=stationMenu>"
    selStation += "<option value=" + 'selStation' + ">"+ 'Select Station:' +"</option>"
    for (i=0; i <stationList.length; i++){
        selStation += "<option value="+stationList[i]+">"+ stationList[i] + "</option>"
        }
    selStation += "</select>"
    
    document.getElementById("stationsDropDown").innerHTML = selStation;
    
}    

function displayStation(obj) {
    // variable that contains station information
    var stations = obj;
    
    //static infoWindow for all your markers
    var infowindow = new google.maps.InfoWindow(); 
    // loop that iterates through the object and extract information
    for(var i = 0; i < stations.length; i++){
      var loc = new google.maps.LatLng(stations[i].stationLat, stations[i].stationLong);
      var content = '<div><p> Station Name:  ' + stations[i].stationName + '</p><p> Total bike stands:  ' + stations[i].stationStands + '</p><p> Credit Card accepted:  ' + stations[i].stationBanking + '</p><p> Available bike stands:  ' + stations[i].stationStdsAvailable + '</p><p> Available bikes: ' + stations[i].stationBikesAvailable + '</p></div>';
      var marker = new google.maps.Marker({
         position: loc,
         map: map,
         title: stations[i].name
      });
        
    google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
        return function() {
           infowindow.setContent(content);
           infowindow.open(map,marker);
        };
    })(marker,content,infowindow)); 
        
    }     
}
}

</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMsv7Vw1OJPpTQ2rb6NtrjYykltKPbti4&callback=myMap">
</script>

</body>
</html>