<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- <script src="{{ url_for('static',filename='jquery-3.3.1.js') }}"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Poppins|Roboto+Slab|Patua+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!--Ivan CSS start-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!---->
    <title>Dublin Bikes</title>

</head>

<body style="background-color: #F8F3F6; font-family: 'Raleway', sans-serif;">
    <header style="background-color: #F8F3F6; font-family: 'Raleway', sans-serif;">
        <h1 class="text-center font-weight-bold mt-2 ml-2 mr-2" id="title" style="background-color: #F8F3F6; border-width:0px; border-bottom-width: 20px; border-style: solid; border-color: #A1BBD0; padding-bottom: 0;margin-bottom: 0; color: #F26968">On Yer Bike Forecaster</h1>
    </header>

    <div id="googleMap" style="width:100%;height:500px;margin: 0px"></div>
    <div id="legend" style="border-color: #A1BBD0;background-color: #F8F3F6; ">
        <h3>Legend</h3>
    </div>
    <div class="text-center mt-2 mb-2 ml-2 mr-2 w-auto container-fluid">
        <div class="row justify-content-xl-center" style="background-color:#F8F3F6; padding-bottom: 30px; padding-top: 30px; border-width:0px; border-top-width: 20px; border-style: solid; border-color: #A1BBD0;">
            <div class='col-sm-6' style="padding-bottom: 10px">
                <div class="form-group">
                    <h3> Pick-up date and time</h3>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <h3> Pick-up location </h3>
                    <div id="stationsPickUp"></div>
                </div>
            </div>
            <div class='col-sm-6' style="padding-bottom: 10px">
                <div class="form-group">
                    <h3> Same Day Drop-off Time</h3>
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                    <h3> Drop-off station </h3>
                    <div id="stationsDropOff"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-xl-center" style="background-color:#F8F3F6; padding-bottom: 30px; padding-top: 0px;">
            <input type="submit" class="btn btn-lg" style="background-color: #A1BBD0; border-style: solid; border-color: black" value="Submit" onclick="displayselection()"></div>
        <div class="row justify-content-xl-center" style="background-color:#F8F3F6; padding-bottom: 30px; padding-top: 30px; border-width:0px; border-top-width: 20px; border-bottom-width: 20px; border-style: solid; border-color: #F8F3F6;">
            <div class="col-md-6" id="currentWeather">
                <div id="weather" style="font-family: 'Raleway', sans-serif;">
                    <h2>Current Weather Conditions</h2>
                    <p> The current weather is: {{ wds[0]['weatherDescr'] }} </p>
                    <p> The current temperature is: {{ wds[0]['temperature'] }} degrees centigrade</p>
                    <img src="http://openweathermap.org/img/w/{{wds[0]['weatherIcon']}}.png">

                    {% if bikeStation %}
                    <p>You have selected the <b>{{ bikeStation }}</b> bike station</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6" id="forecastedWeather" style="font-family: 'Raleway', sans-serif;"></div>
        </div>
        <div class="row justify-content-xl-center" style="background-color:#F8F3F6; padding-bottom: 30px; padding-top: 30px; border-width:0px; border-top-width: 20px; border-bottom-width: 20px; border-style: solid; border-color: #F8F3F6; margin: auto">
            <div class="col-md-6" id="departStnGraph" align='center'></div>
            <div class="col-md-6" id="arriveStnGraph" align='center'></div>
        </div>
    </div>






    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script>
        // date and time picker limited to the next 5 days to match weather forecast
        var todayDate = new Date().getDate();

        $(function() {
            $('#datetimepicker1').datetimepicker({
                minDate: new Date(),
                maxDate: new Date(new Date().setDate(todayDate + 5)),
                disabledHours: [1, 2, 3, 4],
                disabledTimeIntervals: [moment({
                    h: 0,
                    m: 30
                }), moment({
                    h: 5
                })],
                stepping: 15
            });
            $('#datetimepicker3').datetimepicker({
                minDate: new Date(),
                format: 'LT',
                disabledHours: [1, 2, 3, 4],
                disabledTimeIntervals: [moment({
                    h: 0,
                    m: 30
                }), moment({
                    h: 5
                })],
                stepping: 15
            });
            $("#datetimepicker1").on("dp.change", function(e) {
                $('#datetimepicker3').data("DateTimePicker").minDate(e.date);
                $('#datetimepicker3').data("DateTimePicker").date(e.date)
            });
        });

        // this function extracts hours and minute in AM/PM format from unix timestamp
        function getTimeFromDate(timestamp) {
            var date = new Date(timestamp);
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return strTime;
        }

        // function that displays user's selection after submitting request
        function displayselection() {
            // pass date time value to a variable
            var selectedPickUpTime = $('#datetimepicker1').data("DateTimePicker").date();
            var selectedDropOffTime = $('#datetimepicker3').data("DateTimePicker").date();

            if (selectedPickUpTime) {
                //convert time in unix format
                var selectedPickUpTimeUNIX = selectedPickUpTime.unix();
                var selectedDropOffTimeUNIX = selectedDropOffTime.unix();
            }
            console.log(selectedPickUpTimeUNIX);
            console.log(selectedDropOffTimeUNIX);
            // pass selected station
            var selPickUpStation = $('#pickupstation').val();
            var selDropOffStation = $('#dropoffstation').val();

            // get forecasted data in JSON file from flask 
            $.getJSON(ROOT + '/' + selPickUpStation + '/' + selectedPickUpTimeUNIX + '/' + selDropOffStation + '/' + selectedDropOffTimeUNIX, function(data) {
                displayChart(data);
            });

            function displayChart(obj) {
                var data = obj;
                console.log(data);

                // extract forecasted weather info
                var forecastedWeather = obj[2]['weather'][0]['description'];
                var forecastedTemperature = obj[2]['main']['temp'];
                var weatherIcon = obj[2]['weather'][0]['icon'];
                // display forecasted weather info
                var weather = '<h2>Forecasted Weather Conditions</h2>' + '<p>The forecasted weather is:  ' + forecastedWeather + '<br>' + 'The forecasted temperature is: ' + forecastedTemperature + ' degrees centigrade <br>' + '</p>' + '<img src="http://openweathermap.org/img/w/' + weatherIcon + '.png">'
                document.getElementById("forecastedWeather").innerHTML = weather;

                // extract avail bikes forecasted
                var availableBikesPickupMin30m = obj[0][0][0];
                var availableBikesPickupMin1h = obj[0][1][0];
                var availableBikesPickup = obj[0][2][0];
                var availableBikesPickupPlus30m = obj[0][3][0];
                var availableBikesPickupPlus1h = obj[0][4][0];

                // extract avail stands forecasted
                var availableBikesDropOffMin30m = obj[1][0][1];
                var availableBikesDropOffMin1h = obj[1][1][1];
                var availableBikesDropOff = obj[1][2][1];
                var availableBikesDropOffPlus30m = obj[1][3][1];
                var availableBikesDropOffPlus1h = obj[1][4][1];

                // extract hours from unix timestamp
                var pickUpHour = getTimeFromDate(selectedPickUpTime);
                var dropOffHour = getTimeFromDate(selectedDropOffTime);

                // draw google charts using extracted data
                google.charts.load('current', {
                    'packages': ['corechart']
                });
                google.charts.setOnLoadCallback(drawChartPickUp);
                google.charts.setOnLoadCallback(drawChartDropOff);

                function drawChartPickUp() {
                    var dataPickUp = google.visualization.arrayToDataTable([
                        ['Hour', 'Bikes'],
                        ['- 1h', availableBikesPickupMin1h],
                        ['- 30m', availableBikesPickupMin30m],
                        [pickUpHour, availableBikesPickup],
                        ['+ 30m', availableBikesPickupPlus30m],
                        ['+ 1h', availableBikesPickupPlus1h]
                    ]);

                    var options = {
                        title: 'Bikes Available at PickUp Station',
                        titleTextStyle: {
                            color: '#313131' , // any HTML string color ('red', '#cc00cc')
                            fontName: 'Raleway' , // i.e. 'Times New Roman'
                            fontSize: 28 , // 12, 18 whatever you want (don't specify px)
                            bold: false , // true or false
                            italic: false // true of false
                        },
                        curveType: 'function',
                        legend: {
                            position: 'bottom'
                        },
                        width: 700,
                        height: 300,
                        colors: ['#F26968'],
                        backgroundColor: '#F8F3F6'
                    };

                    var pickUpChart = new google.visualization.LineChart(document.getElementById('departStnGraph'));

                    pickUpChart.draw(dataPickUp, options);
                }

                function drawChartDropOff() {

                    var dataDropOff = google.visualization.arrayToDataTable([
                        ['Hour', 'Stands'],
                        ['- 1h', availableBikesDropOffMin1h],
                        ['- 30m', availableBikesDropOffMin30m],
                        [dropOffHour, availableBikesDropOff],
                        ['+ 30m', availableBikesDropOffPlus30m],
                        ['+ 1h', availableBikesDropOffPlus1h]
                    ]);

                    var options = {
                        title: 'Stands Available at DropOff Station',
                        titleTextStyle: {
                            color: '#313131' , // any HTML string color ('red', '#cc00cc')
                            fontName: 'Raleway' , // i.e. 'Times New Roman'
                            fontSize: 28 , // 12, 18 whatever you want (don't specify px)
                            bold: false , // true or false
                            italic: false // true of false
                        },
                        curveType: 'function',
                        legend: {
                            position: 'bottom'
                        },
                        width: 700,
                        height: 300,
                        colors: ['#F26968'],
                        backgroundColor: '#F8F3F6'
                    };

                    var dropOffChart = new google.visualization.LineChart(document.getElementById('arriveStnGraph'));

                    dropOffChart.draw(dataDropOff, options);
                }
            }
        }

        function myMap() {
            //The mapProp variable defines the properties for the map.
            var mapProp = {
                center: new google.maps.LatLng(53.350140, -6.266155), //center in Dublin
                zoom: 13,
            };
            //creates a new map inside the <div> element using the parameters that are passed (mapProp).
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            // ROOT is the location of our flask app
            ROOT = window.location.origin;
            //using jQuery to import JSON file from flask and pass it to the function 
            $.getJSON(ROOT + '/stations', function(data) {
                displayStation(data);
                dropDown(data);
            });
            // function that populates dropdown menu with stations
            function dropDown(obj) {
                var stations = obj;
                // creating an array that will contain all Countries
                var stationList = [];
                // loop that iterates thtough the object
                // pushing Countries into array after checking if they have been already added
                for (var i = 0; i < stations.length; i++) {
                    if (stationList.indexOf(stations[i].stationName) == -1) {
                        stationList.push(stations[i].stationName)
                    }
                }
                // this will sort the array in alphabetical order
                stationList.sort();
                //creating the selection drop down menu with a loop that iterates thourgh the array
                var selPickUpStation = "<select id=pickupstation style='background-color:#A1BBD0;font-family: 'Raleway', sans-serif;'>"
                selPickUpStation += "<option value=" + 'selStation' + ">" + 'Select Station:' + "</option>"
                for (i = 0; i < stationList.length; i++) {
                    selPickUpStation += "<option value=\"" + stationList[i] + "\">" + stationList[i] + "</option>"
                }
                selPickUpStation += "</select>"
                document.getElementById("stationsPickUp").innerHTML = selPickUpStation;
                var selDropOffStation = "<select id=dropoffstation style='background-color:#A1BBD0;font-family: 'Raleway', sans-serif;>"
                selDropOffStation += "<option value=" + 'selStation' + ">" + 'Select Station:' + "</option>"
                for (i = 0; i < stationList.length; i++) {
                    selDropOffStation += "<option value=\"" + stationList[i] + "\">" + stationList[i] + "</option>"
                }
                selDropOffStation += "</select>"
                document.getElementById("stationsDropOff").innerHTML = selDropOffStation;
            }
            //function that displays stations and info on map
            function displayStation(obj) {
                // variable that contains station information
                var stations = obj;
                // variable that contains circle color 
                var circleColor;
                //static infoWindow for all your markers
                var infowindow = new google.maps.InfoWindow();
                // loop that iterates through the object and extract information
                for (var i = 0; i < stations.length; i++) {
                    var loc = new google.maps.LatLng(stations[i].stationLat, stations[i].stationLong);
                    var content = '<div><p> Station Name:  ' + stations[i].stationName + '</p><p> Total bike stands:  ' + stations[i].stationStands + '</p><p> Credit Card accepted:  ' + stations[i].stationBanking + '</p><p> Available bike stands:  ' + stations[i].stationStdsAvailable + '</p><p> Available bikes: ' + stations[i].stationBikesAvailable + '</p></div>';
                    var marker = new google.maps.Marker({
                        position: loc,
                        map: map,
                        title: stations[i].name
                    });
                    //base color of the circle on the marker on bike availability
                    if (stations[i].stationBikesAvailable == 0) {
                        circleColor = '#ff0000'
                    } else if (stations[i].stationBikesAvailable <= 3) {
                        circleColor = '#fff010'
                    } else {
                        circleColor = '#13f72a'
                    };
                    //plot a circle on each bike location
                    var bikeCircle = new google.maps.Circle({
                        strokeWeight: 0,
                        fillColor: circleColor,
                        fillOpacity: 0.7,
                        map: map,
                        center: loc,
                        radius: 50 + stations[i].stationBikesAvailable
                    });
                    google.maps.event.addListener(marker, 'click', (function(marker, content, infowindow) {
                        return function() {
                            infowindow.setContent(content);
                            infowindow.open(map, marker);
                        };
                    })(marker, content, infowindow));
                }

            }
            var icons = {
                red: {
                    name: 'No bikes available',
                    icon: "{{ url_for('static',filename='red.png') }}",

                },
                yellow: {
                    name: '< 3 bikes available',
                    icon: "{{ url_for('static',filename='yellow.png') }}"
                },
                green: {
                    name: '> 3 bikes available',
                    icon: "{{ url_for('static',filename='green.png') }}"
                }
            };
            var legend = document.getElementById('legend');
            for (var key in icons) {
                var type = icons[key];
                var name = type.name;
                var icon = type.icon;
                var div = document.createElement('div');
                div.innerHTML = '<img src="' + icon + '"> ' + name;
                legend.appendChild(div);
            }

            map.controls[google.maps.ControlPosition.RIGHT_TOP].push(legend);
        }

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMsv7Vw1OJPpTQ2rb6NtrjYykltKPbti4&callback=myMap">
    </script>

</body>

</html>
